body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #000000;
}
body.dark-mode {
  background-color: #222222;
  color: #ffffff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.mern-image {
  border-radius: 10%;
  max-width: 100%;
  opacity: 0.2;
  transition: opacity 0.3s ease; 
}

 .mern-image:hover {
  opacity: 0.9; 
} 

.footIcon{
  opacity: 0.2;
}
.footIcon:hover{
  opacity: 1;
}

